<footer class="footer">
    <div class="footer-left">
        <span>&copy; 2025 Creative Cardigans</span>
    </div>
    <div class="footer-right">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-pinterest"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
</footer>
